﻿@{
    ViewBag.Title = "AddAssignment";
}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Add Assignment</title>
</head>
<body>

<div class="row" style="margin-top: 50px">
    <h2>Algebra 1</h2>
    <div>
        <ol class="breadcrumb">
            <li><a href="http://localhost:62563/Teacher/ClassDetails">Information</a></li>
            <li><a href="http://localhost:62563/Teacher/Roster">Roster</a></li>
            <li><a href="http://localhost:62563/Teacher/Gradebook">Gradebook</a></li>
        </ol>
    </div>

    <div class="row" style="margin-top: 40px">

        <h4>Add Assignment</h4>
        <form style="border: solid 1px black; width: 60%; padding: 30px 30px 30px 30px">
            <table style="width: 100%; padding: 15px 15px 15px 15px; border: none">
                <tr>
                    <td>
                        Name:<br>
                        <input type="text" name="assignmentname">
                        <br>
                        <br />
                        Possible Points:
                        <br>
                        <input type="number" name="pointspossible">
                        <br>
                        <br />
                        Due Date:
                        <br>
                        <div class="input-group date datepicker col-md-6" id="" data-date="" data-date-format="mm-dd-yy">
                            <input class="form-control" size="16" type="text" value="">
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="10" id="description"></textarea>
                        </div>
                        <p align="right">
                            <button type="submit" class="btn-sm btn-link" value="Cancel">Cancel</button>
                            <button type="submit" class="btn-sm" value="Save">Save</button>
                        </p>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

</body>
</html>
@section scripts {
    <script src="~/Scripts/app/LMSEditor.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
}

