﻿@{
    ViewBag.Title = "ClassDetails";
}



<div>
    <ol class="breadcrumb">
        <li><a href="http://localhost:62563/Teacher/ClassDetails">Information</a></li>
        <li><a href="http://localhost:62563/Teacher/Roster">Roster</a></li>
        <li><a href="http://localhost:62563/Teacher/Gradebook">Gradebook</a></li>
    </ol>
</div>


<h2>Class Details</h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Information</h4>
            <div class="well row" id="classDetails">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="className">Class Name:</label>

                        <input type="text" id="className" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="subject">Subject:</label>
                        <br/>
                        <input type="text" id="subject" class="form-control">
                        <br>
                    </div>
                    <div class="form-group row">
                        <label>Start Date:</label><br/>
                        <div class="input-group date datepicker col-md-6" id="" data-date="" data-date-format="mm-dd-yy">
                            <input class="form-control" size="16" type="text" value="">
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label>End Date:</label><br/>
                        <div class="input-group date datepicker col-md-6" id="" data-date="" data-date-format="mm-dd-yy">
                            <input class="form-control" size="16" type="text" value="">
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-inline">
                        <label>Grade Level:</label>
                        <br/>
                        <div class="form-group">
                            <select class="form-control" id="gradeLevel">
                                @*@Model.GradeLevel*@
                                <option value="" disabled selected>N/A</option>
                                <option value="kindergarten">K</option>
                                <option value="first">1st Grade</option>
                                <option value="second">2nd Grade</option>
                                <option value="third">3rd Grade</option>
                                <option value="fourth">4th Grade</option>
                                <option value="fifth">5th Grade</option>
                                <option value="sixth">6th Grade</option>
                                <option value="seventh">7th Grade</option>
                                <option value="eigth">8th Grade</option>
                                <option value="ninth">Freshman</option>
                                <option value="tenth">Sophomore</option>
                                <option value="eleventh">Junior</option>
                                <option value="twelfth">Senior</option>
                            </select>
                        </div>
                        <div class="checkbox">
                            <label align="right">
                                <input type="checkbox"> Archive
                            </label>
                        </div>
                    </form>
                    <br/>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea class="form-control" rows="10" id="description"></textarea>
                    </div>
                    <p align="right">
                        <button type="submit" class="btn-sm btn-link" value="Cancel"><u>Cancel</u></button>
                        <button type="submit" class="btn-sm" value="Save">Save</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well" id="classDetails"></div>
        </div>
    </div>
</div>



