﻿@{
    ViewBag.Title = "Gradebook";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
    <div>
        <h2>Algebra 1 - Gradebook</h2>
        <div>
            <ol class="breadcrumb">
                <li><a href="http://localhost:62563/Teacher/ClassDetails">Information</a></li>
                <li><a href="http://localhost:62563/Teacher/Roster">Roster</a></li>
                <li><a href="http://localhost:62563/Teacher/Gradebook">Gradebook</a></li>
            </ol>
        </div>
            <input type="button" value="Add Assignment" href="Add Assignment.cshtml"><br/><br/>
        <style>
            table {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
                text-align: left;
            }

            table#t01 tr:nth-child(even) {
                background-color: #F7f7f7;
            }

            table#t01 tr:nth-child(odd) {
                background-color: #f0f0f0;
            }

            table#t01 th {
                background-color: #e0e0e0;
                color: black;
            }
        </style>
        <table id="t01">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Assignment 1</th>
                <th>Quiz 1</th>
                <th>Test 1</th>
                <th>Assignment 2</th>
                <th>Assignment 3</th>
                <th>Assignment 4</th>
            </tr>
            <tr>
                <td>Casey</td>
                <td>Allen</td>
                <td>A</td>
                <td>100%</td>
                <td>95%</td>
                <td>100%</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Casey</td>
                <td>Allen</td>
                <td>A</td>
                <td>100%</td>
                <td>95%</td>
                <td>100%</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>