﻿@model List<LMSMastery.Models.RegisterViewModel>
@{
    ViewBag.Title = "Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Algebra 1 - Roster</h2>
<div>
    <ol class="breadcrumb">
        <li><a href="http://localhost:62563/Teacher/ClassDetails">Information</a></li>
        <li><a href="http://localhost:62563/Teacher/Roster">Roster</a></li>
        <li><a href="http://localhost:62563/Teacher/Gradebook">Gradebook</a></li>
    </ol>

</div>
<h3>Roster</h3>
<div class="row">
<div class="col-lg-6">
    <table class="table table-striped" id="t07">
        <thead>
            <tr id="trheader">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        @*@foreach (var user in Model)
        {*@
            <tr id="last">
                @*<td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@Html.ActionLink("details", "UserDetails", new { id = user.UserId }, new { @style = "text-decoration: underline", model = user })</td>*@
            </tr>
        @*}*@
    </table>
    </div>
    </div>
<div>

</div>



