@{
    ViewBag.Title = "TeacherDashboard";
}

<!DOCTYPE html>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>TeacherDashboard</title>
</head>
<h3>Teacher Dashboard</h3>
    <div class="container">
        <div class="row">            
            <br />
            <div class="col-lg-12">
                <h4>My Classes</h4>
                <div class="form-group" id="teacherDash">
                    <div class="col-lg-12">
                        @Html.ActionLink("Add Class", "ClassDetails", new { @class = "viewAddClass" })
                       @*@Html.ActionLink("Add Class", "ClassDetails", new { controller = "Account", id = 1 }, new { @class = "viewAddClass" })*@
                        <span style="text-align: right">Current (2) - Archived (0)</span>
                    </div>                    
                    <br />
                    <table>
                        <tr>
                            <td>Algebra 1 </td>
                        </tr>
                        <tr>
                            <td>Creative Writing </td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
    </div>


