﻿@{
    ViewBag.Title = "About";
}
<h1 style="font-size: 144px;">WE'RE AMAZING</h1>
<h1 style="font-size: 80px;">Just ask our customers!</h1>
<h1 style="font-size: 16px; "><i>Testimonial testimonial testimonial <br/>
        testimonial testimonial testimonial <br/>
        testimonial testimonial testimonial!<br/>
        -Bob, Minneapolis, MN</i>
</h1>
<h1 style="font-size: 16px;">
    <i>Testimonial testimonial testimonial <br/>
        testimonial testimonial testimonial <br />
        -Susan, Eden Prairie, MN</i>
</h1>
<h1 style="font-size: 16px;">
    <i>
        Testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        testimonial testimonial testimonial! <br />
        -Cole, St. Paul, MN
    </i>
</h1>