﻿@using System.Collections.Generic
@model CarDealership.Models.ContactForm

@{
    ViewBag.Title = "Contact";
    var items = new List<SelectListItem>(){
        new SelectListItem() {
          Text = "Please choose",
          Value = "0"
      },
      new SelectListItem() {
          Text = "Now",
          Value = "1"
      },
            new SelectListItem() {
          Text = "Next 6 months",
          Value = "6"
      },
            new SelectListItem() {
          Text = "Next 12 months",
          Value = "12"
      },
            new SelectListItem() {
          Text = "Next 24 months",
          Value = "24"
      }
    };
    ViewBag.PayFrequency = "";
    var options = new List<SelectListItem>() { 
    new SelectListItem(){
        Text = "Please choose",
        Value = "0"
        },
        new SelectListItem(){
            Text = "Anually",
            Value = "1"
        },
        new SelectListItem(){
            Text = "Monthly",
            Value = "2"
        },
        new SelectListItem(){
            Text = "Bi-Monthly",
            Value = "3"
        },
        new SelectListItem(){
            Text = "Weekly",
            Value = "4"
        },
    };
}
<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.PayFrequency</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Sales", "Home", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary(true)
    </div>
    <div>
        <div class="form-group">
            <label>Name</label><br />
            @Html.TextBoxFor(m => m.Name)<br />
            @Html.ValidationMessageFor(m => m.Name)<br />
        </div>
        <div class="form-group">
            <label>Phone Number</label><br />
            @Html.TextBoxFor(m => m.PhoneNumber)<br />
            @Html.ValidationMessageFor(m => m.PhoneNumber)<br />

        </div>
        <div class="form-group">
            <label>Time frame to purchase a new car</label><br />
            @Html.DropDownListFor(m => m.PurchaseTimeFrameInMonths, items)<br />
            @Html.ValidationMessageFor(m => m.PurchaseTimeFrameInMonths)<br />
        </div>
        <div class="form-group">
            <label>Email</label><br />
            @Html.TextBoxFor(m => m.Email)<br />
            @Html.ValidationMessageFor(m => m.Email)<br />
        </div>
        <div class="form-group">
            <label>Income</label><br />
            @Html.TextBoxFor(m => m.Income)<br />
            @Html.ValidationMessageFor(m => m.Income)<br />
            @Html.DropDownListFor(m => m.PayFrequency, options)<br />
            @Html.ValidationMessageFor(m => m.PayFrequency)<br />
            
        </div>
        <div>
            <button>Submit</button>
        </div>
    </div>
}