﻿
@{
    ViewBag.Title = "GradeDetail";
}
<html>
    <head> 
    <style>
        .box {
            width: 125px;
            height: 100px;
            border: 2px solid black;
            text-align: center;
            margin: 25px;
            font-size: 18px;
            }
        
    </style>
    </head>
<body>
    
    <h2>Algebra 1 - Grades</h2>
    <div class="container">

            <div class="box">
                Assignment 1<br/><br/>97% A
            </div>
            <div class="box">
                Assignment 1<br/><br/>97% A
            </div>
            <div class="box">
                Assignment 1<br/><br/>97% A
            </div>
        

        
    </div>
</body>
    
</html>