﻿@{
    ViewBag.Title = "StudentDashboard";
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentDashboard</title>
</head>
<body>
<div>
    <h2>Student Dashboard</h2>
    <h4>My Classes</h4>
</div>
<div class="container" id="container">
    <table id="t04">
        <tr>
            <td style="padding-left: 10px;">Algebra 1</td>
            <td>A</td>
            <td class="col-lg-offset-7">
                <button type="submit" value="ViewGrades" class="btn btn-primary">
                    View Grades
                </button>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 10px;">Creative Writing</td>
            <td>B</td>
            <td>
                <button type="submit" value="ViewGrades" class="btn btn-primary">
                    View Grades
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
@*@foreach (var user in Model)
{
    <tr>
        <td>@user.Course</td>
        <td>@user.Grade</td>
        <td>@Html.ActionLink("View Grades", "ViewGrades", "Account", new { @style = "text-decoration: underline", model = user })</td>
    </tr>
}*@