﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top:20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;  
}

h3 {
    margin-bottom: 15px;
    text-align: center;
}

.image {
    margin-left: 5px;
    margin-right: 85px;
    margin-bottom: 30px;
}

.picture {
    margin-right: 20px;
    margin-bottom: 20px;
}

img.small {
    margin-right: 15px;
    margin-top: 20px;
}






