﻿@model List<LMSMastery.Models.RegisterViewModel>
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>
<h3>Unassigned Users</h3>
<div class="row">
    <div class="col-lg-12">
        @Html.ActionLink("search for users", "UserSearch", "Account", new { @style = "text-decoration: underline" })
    </div>
    <div class="col-lg-12">
        <table class="table table-striped" id="t02" style="margin-top: 15px">
            <thead>
                <tr id="trheader">
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Suggested Role</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr id="last">
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@user.SuggestedRole</td>
                    <td>@Html.ActionLink("details", "UserDetails", new { id = user.UserId }, new { @style = "text-decoration: underline", model = user })</td>
                </tr>
            }
        </table>
    </div>
</div>

