﻿@model LMSMastery.Models.Course
@{
    ViewBag.Title = "ClassDetails";
 }
@using (Html.BeginForm("AddNewClass", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        <ol class="breadcrumb">
            <li><a href="http://localhost:62563/Teacher/ClassDetails">Information</a></li>
            <li><a href="http://localhost:62563/Teacher/Roster">Roster</a></li>
            <li><a href="http://localhost:62563/Teacher/Gradebook">Gradebook</a></li>
        </ol>
    </div>


    <h2>Class Details</h2>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Information</h4>
                <div class="well row" id="classDetails">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="className">Class Name:</label>

                            <input type="text" id="className" class="form-control" value=@Model.CourseName>
                        </div>
                        <div class="form-group row">
                            <label for="subject">Subject:</label>
                            <br />
                            <input type="text" id="subject" class="form-control" value="@Model.Subject">
                            <br>
                        </div>
                        <div class="form-group row">
                            <label>Start Date:</label><br />
                            <div class="input-group date datepicker col-md-6" id="" data-date="" data-date-format="mm-dd-yy">
                                <input class="form-control" size="16" type="text" value=@Model.StartDate>
                                <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label>End Date:</label><br />
                            <div class="input-group date datepicker col-md-6" id="" data-date="" data-date-format="mm-dd-yy">
                                <input class="form-control" size="16" type="text" value=@Model.EndDate>
                                <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form class="form-inline">
                            <label>Grade Level:</label>
                            <br />
                            <div class="form-group">
                                <select class="form-control" id="gradeLevel">

                                    <option value="" disabled selected>N/A</option>
                                    <option value="kindergarten" @(Model.GradeLevel == 1 ? "selected" : "")>K</option>
                                    <option value="first" @(Model.GradeLevel == 2 ? "selected" : "")>1st Grade</option>
                                    <option value="second" @(Model.GradeLevel == 3 ? "selected" : "")>2nd Grade</option>
                                    <option value="third" @(Model.GradeLevel == 4 ? "selected" : "")>3rd Grade</option>
                                    <option value="fourth" @(Model.GradeLevel == 5 ? "selected" : "")>4th Grade</option>
                                    <option value="fifth" @(Model.GradeLevel == 6 ? "selected" : "")>5th Grade</option>
                                    <option value="sixth" @(Model.GradeLevel == 7 ? "selected" : "")>6th Grade</option>
                                    <option value="seventh" @(Model.GradeLevel == 8 ? "selected" : "")>7th Grade</option>
                                    <option value="eigth" @(Model.GradeLevel == 9 ? "selected" : "")>8th Grade</option>
                                    <option value="ninth" @(Model.GradeLevel == 10 ? "selected" : "")>Freshman</option>
                                    <option value="tenth" @(Model.GradeLevel == 11 ? "selected" : "")>Softmore</option>
                                    <option value="eleventh" @(Model.GradeLevel == 12 ? "selected" : "")>Junior</option>
                                    <option value="twelfth" @(Model.GradeLevel == 13 ? "selected" : "")>Senior</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label align="right">
                                    <input type="checkbox"> Archive
                                </label>
                            </div>
                        </form>
                        <br />
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="10" id="description"></textarea>
                        </div>
                        <p align="right">
                            @Html.ActionLink("cancel", "Index", "Home", new { @style = "text-decoration: underline; margin-right: 10px" })
                            <button type="submit" class="btn-sm" value="Save">Save</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




