﻿@model IEnumerable<LMSMastery.Models.RegisterViewModel>
@{
    ViewBag.Title = "UserSearch";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserSearch</title>
</head>
<body>
    <div>
        <h2>User Search</h2>
@using(Html.BeginForm("UserSearch", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", style="border: solid 1px black; padding: 10px 10px 10px 20px" }))
{
            <input type="text" name="lastName" placeholder="Last Name" value="" style="margin-right: 15px">
            <input type="text" name="firstName" placeholder="First Name" value="" style="margin-right: 15px">
            <input type="text" name="email" placeholder="Email" value="" style="margin-right: 15px">
    <select name="role" style="padding: 3px 3px 3px 3px">
        <option value="" disabled selected>Role</option>
        <option value="admin">Admin</option>
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
        <option value="parent">Parent</option>
    </select>
            <button style="margin-left: 25px" type="submit" value="Search">Search</button>
}
    </div>
    <br />
    <table class="table table-striped" id="t03">
        <tr id="trheader">
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th></th>
        </tr>
        @if (Model != null)
        { 
            foreach (var user in Model)
            {
                <tr id="last">
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@Html.ActionLink("details", "UserDetails", new { id = user.UserId }, new { @style = "text-decoration: underline", model = user })</td>
                </tr>
            }
        }
    </table>
</body>
</html>
