﻿@using LMSMastery.Models
@model RegisterViewModel
@{
    ViewBag.Title = "UserDetails";
 
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
@using(Html.BeginForm("ConfirmUnassignedUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>User Details</h3>
                <div class="form-group" id="details">
                    <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                    <div>                        
                        <label for="lastName">Last Name:</label><br>                    
                        <input type="text" class="form-control" id="lastName" value="@Model.LastName" />                         
                    </div>
                    <br />
                    <div>
                        <label for="firstName">First Name:</label><br>
                        <input type="text" class="form-control" id="lastName" value="@Model.FirstName" />
                    </div>
                    <br />
                    </div>
                    <div>
                        <label for="sel1">Grade Level</label><br>
                        <select class="form-control" id="gradeLevel">
                            <option value="">N/A</option>
                            <option value="kindergarten" @(Model.GradeLevel == 1 ? "selected" : "")>K</option>
                            <option value="first" @(Model.GradeLevel == 2 ? "selected" : "")>1st Grade</option>
                            <option value="second" @(Model.GradeLevel == 3 ? "selected" : "")>2nd Grade</option>
                            <option value="third" @(Model.GradeLevel == 4 ? "selected" : "")>3rd Grade</option>
                            <option value="fourth" @(Model.GradeLevel == 5 ? "selected" : "")>4th Grade</option>
                            <option value="fifth" @(Model.GradeLevel == 6 ? "selected" : "")>5th Grade</option>
                            <option value="sixth" @(Model.GradeLevel == 7 ? "selected" : "")>6th Grade</option>
                            <option value="seventh" @(Model.GradeLevel == 8 ? "selected" : "")>7th Grade</option>
                            <option value="eigth" @(Model.GradeLevel == 9 ? "selected" : "")>8th Grade</option>
                            <option value="ninth" @(Model.GradeLevel == 10 ? "selected" : "")>Freshman</option>
                            <option value="tenth" @(Model.GradeLevel == 11 ? "selected" : "")>Softmore</option>
                            <option value="eleventh" @(Model.GradeLevel == 12 ? "selected" : "")>Junior</option>
                            <option value="twelfth" @(Model.GradeLevel == 13 ? "selected" : "")>Senior</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <label for="roles">Roles</label><br>
                    <div class="checkbox">
                        <label><input type="checkbox" @(Model.SuggestedRole == "Admin" ? "checked" : "") value="">Admin</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" @(Model.SuggestedRole == "Teacher" ? "checked" : "") value="">Teacher</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" @(Model.SuggestedRole == "Student" ? "checked" : "") value="">Student</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" @(Model.SuggestedRole == "Parent" ? "checked" : "") value="">Parent</label>
                    </div>
                    <br />
                    @Html.ActionLink("cancel", "AdminDashboard", "Account", new { @style = "text-decoration: underline; margin-right: 10px"})
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
}
</body>
</html> 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}