﻿@model MyContacts.UI.Models.Contact

    <p>
        <label>Name</label>
        <input type="text" id="Name" name="Name" value="@Model.Name"/>
    </p>
    @*<p>
        <label>Phone</label>
        <input type="text" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber"/>
    </p>*@
    <p>
        <label>Personal</label>
        <label><input type="checkbox" name="personal" value="value"></label>
        <label>Professional</label>
        <label><input type="checkbox" name="professional" value="value"></label>
    </p>
    <button>Save</button>

