﻿@model CarDealership.Models.Car


<h2>Add New Vehicle</h2>

@using (Html.BeginForm("AddCar", "Car", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary()
    </div>
    <div>
        <div class="form-group">
            <label>Make</label><br/>
            @Html.TextBoxFor(m => m.Make)<br/>
            @Html.ValidationMessageFor(m => m.Make)<br/>
        </div>
        <div class="form-group">
            <label>Model</label><br/>
            @Html.TextBoxFor(m => m.Model)<br/>
            @Html.ValidationMessageFor(m => m.Model)<br/>
        </div>
        <div class="form-group">
            <label>Year</label><br/>
            @Html.TextBoxFor(m => m.Year)<br/>
            @Html.ValidationMessageFor(m => m.Year)<br/>
        </div>
        <div class="form-group">
            <label>Title</label><br/>
            @Html.TextBoxFor(m => m.Title)<br/>
            @Html.ValidationMessageFor(m => m.Title)<br/>
        </div>
        <div class="form-group">
            <label>Description (optional)</label><br/>
            @Html.TextAreaFor(m => m.Description)<br/>
            
        </div>
        <div class="form-group">
            <label>Price</label><br/>
            @Html.TextBoxFor(m => m.Price)<br/>
            @Html.ValidationMessageFor(m => m.Price)<br/>
        </div>
        <div class="form-group">
            <label>Image URL (optional)</label><br/>
            @Html.TextBoxFor(m => m.ImageUrl)<br/>
        </div>
        <button>Submit</button>
    </div>
}
