﻿@model CarDealership.Models.Car
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this vehicle?</h2>
@using (Html.BeginForm("DeleteCar", "Car", FormMethod.Post))
{ 
    @Html.HiddenFor(m => m.Id)
<div>
    <div class="form-group">
        <label>Make</label><br />
        @Html.DisplayFor(m => m.Make)<br />
    </div>
    <div class="form-group">
        <label>Model</label><br />
        @Html.DisplayFor(m => m.Model)<br />
    </div>
    <div class="form-group">
        <label>Year</label><br />
        @Html.DisplayFor(m => m.Year)<br />
    </div>
    <div class="form-group">
        <label>Title</label><br />
        @Html.DisplayFor(m => m.Title)<br />
    </div>
    <div class="form-group">
        <label>Description (optional)</label><br />
        @Html.DisplayFor(m => m.Description)<br />

    </div>
    <div class="form-group">
        <label>Price</label><br />
        @Html.DisplayFor(m => m.Price)<br />
    </div>
    <div class="form-group">
        <label>Image URL (optional)</label><br />
        @Html.DisplayFor(m => m.ImageUrl)<br />
    </div>
    <button>Delete</button>
</div>
}

