﻿@model CarDealership.Models.Car
@{
    ViewBag.Title = "Details";
}
<h2>@Model.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" alt="A car" class="car-image"/>
        </div>
@using (Html.BeginForm("Edit", "Car", new {id=Model.Id}, FormMethod.Post))
{
        <div>         
            <button>Edit</button>
        </div>
}
        <div>
            @Html.ActionLink("Delete this vehicle", "Delete", "Car", new { id = Model.Id }, null)
        </div>

        <div class="col-md-8">
            <div>
                @Model.Description
            </div>
            <h1>ONLY @string.Format("{0:C}", Model.Price)!!</h1><br />
            <h1>@string.Format(Model.Description)</h1>
        </div>
    </div>
</div>