﻿@model CarDealership.Models.Car


<h2>Edit Vehicle</h2>

@using (Html.BeginForm("EditCar", "Car", FormMethod.Post))
{
    <div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id)
    </div>
    <div>
        <div class="form-group">
            <label>Make</label><br />
            @Html.EditorFor(m => m.Make)<br />
            @Html.ValidationMessageFor(m => m.Make)<br />
        </div>
        <div class="form-group">
            <label>Model</label><br />
            @Html.EditorFor(m => m.Model)<br />
            @Html.ValidationMessageFor(m => m.Model)<br />
        </div>
        <div class="form-group">
            <label>Year</label><br />
            @Html.EditorFor(m => m.Year)<br />
            @Html.ValidationMessageFor(m => m.Year)<br />
        </div>
        <div class="form-group">
            <label>Title</label><br />
            @Html.EditorFor(m => m.Title)<br />
            @Html.ValidationMessageFor(m => m.Title)<br />
        </div>
        <div class="form-group">
            <label>Description (optional)</label><br />
            @Html.EditorFor(m => m.Description)<br />

        </div>
        <div class="form-group">
            <label>Price</label><br />
            @Html.EditorFor(m => m.Price)<br />
            @Html.ValidationMessageFor(m => m.Price)<br />
        </div>
        <div class="form-group">
            <label>Image URL (optional)</label><br />
            @Html.EditorFor(m => m.ImageUrl)<br />
        </div>
        <button>Update</button>
    </div>
}