﻿@{
    ViewBag.Title = "About";
}
<h1 style="font-size: 144px;">WE'RE AMAZING</h1>
<h1 style="font-size: 80px;">Just ask our customers!</h1>
<h1 style="font-size: 16px; ">
    <i>
        Testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        testimonial testimonial testimonial!<br />
        <b>-Bob, Minneapolis, MN</b>
    </i>
</h1>
<h1 style="font-size: 16px;">
    <i>
        Testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        <b>-Susan, Eden Prairie, MN</b>
    </i>
</h1>
<h1 style="font-size: 16px;">
    <i>
        Testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        testimonial testimonial testimonial <br />
        testimonial testimonial testimonial! <br />
        <b>-Harry, St. Paul, MN</b>
    </i>
</h1>