﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the SWCG Car Dealership!</h1>
    <p>Go ahead and look around or ask one of our Sales Consultants for a test drive!</p>
</div>