﻿@using MyContacts.UI.Models
@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
<div>
    <h1>Add Contact</h1>
    <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
    <form action="/Home/AddContact" method="POST">
        @Html.Partial("Partial", new Contact())
    </form>
</div>
</body>
</html>
