﻿@model MyContacts.UI.Models.Contact

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
<div>
    <h1>Edit Contact</h1>
    <h3>@Html.ActionLink("Back to List", "Index", "Home")</h3>
    <form action="/Home/EditContact" method="POST">
        <input type="hidden" name="ContactId" id="ContactId" value="@Model.ContactId"/>
        @Html.Partial("Partial", Model)
    </form>
</div>
</body>
</html>
