﻿@model LMSMastery.Models.LoginViewModel
@Html.ActionLink("Admin", "AdminDashboard", "Account")
<div class="row">
    <div class="col-lg-12">
        <h3>Software Craftsmanship Guild - Learning Management System</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <h4>Existing Users Log In Here</h4>
    </div>    
    <div class="col-lg-6" style="left: 100px">
        <h4>New User? Register Now!</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">        
        <div id="index">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-top:30px; margin-left:30px">
                        @Html.LabelFor(m => m.Email, new { @class = "col-lg-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:30px">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary" />
                        </div>
                    </div>

                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                }
            </section>
        </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-6">        
        <div id="index">
            <section id="socialLoginForm">
                @Html.Partial("PartialRegister", Model)
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

