﻿@model LMSMastery.Models.RegisterViewModel
@{
    var roles = new List<SelectListItem>(){
        new SelectListItem() {
          Text = "Select an option",
          Value = "0"
      },
            new SelectListItem() {
          Text = "Admin",
          Value = "Admin"
      },
            new SelectListItem() {
          Text = "Teacher",
          Value = "Teacher"
      },
            new SelectListItem() {
          Text = "Student",
          Value = "Student"
      },
            new SelectListItem() {
          Text = "Parent",
          Value = "Parent"
      }
    };
    
    var grades = new List<SelectListItem>(){
        new SelectListItem() {
          Text = "Select an option",
          Value = ""
      },
            new SelectListItem() {
          Text = "K",
          Value ="1"
      },
            new SelectListItem() {
          Text = "1st Grade",
          Value = "2"
      },
            new SelectListItem() {
          Text = "2nd Grade",
          Value = "3"
      },
            new SelectListItem() {
          Text = "3rd Grade",
          Value = "4"
      },
            new SelectListItem() {
          Text = "4th Grade",
          Value = "5"
      },
            new SelectListItem() {
          Text = "5th Grade",
          Value = "6"
      },
            new SelectListItem() {
          Text = "6th Grade",
          Value = "7"
      },
            new SelectListItem() {
          Text = "7th Grade",
          Value = "8"
      },
            new SelectListItem() {
          Text = "8th Grade",
          Value = "9"
      },
            new SelectListItem() {
          Text = "Freshman",
          Value = "10"
      },
            new SelectListItem() {
          Text = "Softmore",
          Value = "11"
      },
            new SelectListItem() {
          Text = "Junior",
          Value = "12"
      },
            new SelectListItem() {
          Text = "Senior",
          Value = "13"
        },
    };
}
@using(Html.BeginForm("RegisterLmsUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()  
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <form class="form-horizontal">
        <div class="form-group" style="margin-top:30px">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-lg-4 control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-lg-4 control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-lg-4 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-lg-4 control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-4 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SuggestedRole, new { @class = "col-lg-4 control-label" })
            @Html.DropDownListFor(m => m.SuggestedRole, roles, new { @class = "form-control" })            
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GradeLevel, new { @class = "col-lg-4 control-label" })
            @Html.DropDownListFor(m => m.GradeLevel, grades, new { @class = "form-control" })           
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-7">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
}



