﻿@model LMSMastery.Models.RegisterViewModel
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered</h2>
<h3>Thank you for registering!  Your account is pending approval.</h3>

