﻿
@{
    ViewBag.Title = "ParentDashboard";
}

<!DOCTYPE html>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>ParentDashboard</title>
</head>
<body>
<div>
    <h2>Parent Dashboard</h2>
    <br/>
    <h4>My Students</h4>
    <br/>
</div>

    <form style="border: solid 1px black; padding: 30px 30px 30px 30px; width: 50%">

   
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    -webkit-column-width: 500px;
                }


                th, td {
                    padding: 5px;
                }
            </style>
        <table>

            <div class="row" style="border: 1px solid black">
                <div class="col-md-8"style="margin: 30px 5px 5px 10px">John Smith</div>
                <div class="col-md-2" align="right" style="margin: 20px">

                    <div class="btn" style="border: 1px solid black;font-family: black">
                        @Html.ActionLink("View Classes", "Index", null, new { @class = "btn-link" })
                    </div>

                </div>
                </div>
                <div class="row" style="border: 1px solid black">
                    <div class="col-md-8" style="margin: 30px 5px 5px 10px">Jane Smith</div>
                    <div class="col-md-2" align="right" style= "margin: 20px; color: black">
                        <div class="btn" style="border: 1px solid black;font-family: black">
                            @Html.ActionLink("View Classes", "Index", null, new { @class = "btn-link" })
                        </div>
                    </div>
                </div>


</table>
    </form>

</body>
</html>