﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12 ">
        <img class="image" src="@Url.Content("~/Content/Images/Image.gif")" width="200" height="100" />
        <img class="image" src="@Url.Content("~/Content/Images/Image.gif")" width="200" height="100" />
        <img class="image" src="@Url.Content("~/Content/Images/Image.gif")" width="200" height="100" />    
        <ul class="nav nav-tabs" style="font-size: 10px">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Arrange</a></li>
            <li><a href="#">Empower</a></li>
            <li><a href="#">Innovate</a></li>
            <li><a href="#">Create</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Implement</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-9">
        <img class="picture" style="margin-top: 20px" src="@Url.Content("~/Content/Images/Picture.gif")" width="850" height="500" />
    </div>
<div class="col-lg-3">
        <img class="news" style="margin-top: 20px" src="@Url.Content("~/Content/Images/News.gif")" width="265" height="475" />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">        
        <img class="small" src="@Url.Content("~/Content/Images/SmallPic.gif")" width="270" height="170" />
        <img class="small" src="@Url.Content("~/Content/Images/SmallPic.gif")" width="270" height="170" />
        <img class="small" src="@Url.Content("~/Content/Images/SmallPic.gif")" width="270" height="170" />
    </div>
</div>
      