﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h3 {
    margin-bottom: 15px;
    text-align: left;
}


th, td {
    padding: 5px;
    text-align: left;
}


tr#trheader {
    border-top: 2px solid black;
}


table#t01 tr:nth-child(even) {
    background-color: #F7f7f7 
;
}


table#t01 tr:nth-child(odd) {
    background-color: #f0f0f0 
;
}


table#t01 th {
    background-color: #e0e0e0 
;
    color: black;
}


table#t02 th {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-collapse: collapse;
}


table#t02 td {
    border-right: 2px solid black;
    border-left: 2px solid black;
}


table#t02 tr#last:last-child {
    border-bottom: 2px solid black;
}


table#t02 tr:nth-child(even) {
    background-color: #F7f7f7 
;
}


table#t02 tr:nth-child(odd) {
    background-color: #f0f0f0 
;
}


table#t03 tr:nth-child(even) {
    background-color: #F7f7f7 
;
}


table#t03 tr:nth-child(odd) {
    background-color: #f0f0f0 
;
}


table#t03 th {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-collapse: collapse;
}


table#t03 td {
    border-right: 2px solid black;
    border-left: 2px solid black;
}


table#t03 tr#last:last-child {
    border-bottom: 2px solid black;
}


table#t04 {
    border: 2px solid black;
    border-collapse: collapse;
    -webkit-column-width: 500px;
    padding: 5px;
}


#teacherDash {
    border: solid 2px black;
    padding: 30px 30px 30px 30px;
    width: 60%;
}


table#t04 {
    border: 1px solid black;
    border-collapse: collapse;
    -webkit-column-width: 500px;
    border: solid 1px black;
    width: 75%;
}


table#t04 tr {
        border: 1px solid black;
}


table#t04 button {
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 20px;
        background-color: whitesmoke;
        color: black;
        box-shadow: black 1px 1px 1px 1px;
        border: black;
}


table#t05 {
    border: 2px solid black;
    border-collapse: collapse;
    -webkit-column-width: 500px;
    padding: 5px;
}


table#t07 tr:nth-child(even) {
    background-color: #F7f7f7 
;
}


table#t07 tr:nth-child(odd) {
    background-color: #f0f0f0 
;
}


table#t07 th {
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-collapse: collapse;
}


table#t07 td {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

table#t07 tr#last:last-child {
    border-bottom: 2px solid black;
}

div#index {
    border: 2px solid black;
}

#details {
    border: 2px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    margin-top: 30px;
}

table#t06 {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border: none;
    margin: 15px;
}

#cont {
   border: 1px solid black;
   border-collapse: collapse;
   padding: 30px 1px 30px 30px;
   margin-right: 500px;
}

div#classDetails {
   border: 2px solid black;
   padding: 15px;
   width: 50%;
}
